/*
*
{
	border: 1px rebeccapurple;
}
*/
:root
{
	rgb(0,89,0);
}
body
{
	text-align: center;
	list-style-position: inside;
	background-color:  var(#B8E0F4);
}
header
{
	background-color:  #C2E8FB;
	border: 5px dashed black;
	margin: 10px 100px;
}
header h1
{
	font-size:  60pt;
	margin-top:  10px;
	margin-bottom: 0;
}
header h2
{
	font-size:  20pt;
	color: var(#06623E);
	font-variant: small-caps;
}
main h1
{
	font-size:  70pt;
	font-family: 'Brush Script MT', cursive;
	margin: 0;
}
h1+h2
{
	margin-top: -15px;
}
main h2
{
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 0;
}
main ul
{
	display:  table;
	margin: 0 auto;
	text-align:  left;
	padding-left: 2px;
}
#wantedlist
{
	font-size: 25pt;
	float:  right;
}: rgb(0,102,0);
}
body
{
	text-align: center;
	list-style-position: inside;
	background-color:  var rgb(0, 102, 0);
}
header
{
	background-color:  #93B5D5;
	border: 5px dashed #43028B;
	margin: 10px 100px;
}
header h1
{
	font-size:  60pt;
	margin-top:  10px;
	margin-bottom: 0;
}
header h2
{
	font-size:  20pt;
	color: var(#06623E);
	font-variant: small-caps;
}
main h1
{
	font-size:  70pt;
	font-family: 'butcherman-caps', cursive;
	margin: 0;
}
h1+h2
{
	margin-top: -15px;
}
main h2
{
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 0;
}
main ul
{
	display:  table;
	margin: 0 auto;
	text-align:  none;
	padding-left: 2px;
}
#wantedlist
{
	font-size: 25pt;
	float:  left;
}
